body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  display: flex;
  height: 100%;
  #col-1 {
    background-color: #f1f1f1;
    flex: 1;
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    h1{
      font-size: 40px;
      font-weight: 700;
    }
    .username{
      width: 300px;
      height:50px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .password{
      width: 300px;
      height:50px;
      margin-bottom: 20px;
      font-weight: 700;
    }
    .button{
      width: 300px;
      height:50px;
      background-color:hsl(0, 64%, 58%) !important;
      font-weight: 700;
    }
  }

  #col-2 {
    background-color: #242538;
    flex: 1.5;
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    #firstH {
      font-weight: 700 !important;
      font-size: 50px;
      color: #ffff;
    }
    #secondH {
      font-weight: 700 !important;
      font-size: 50px;
      color: hsl(0, 64%, 58%) !important;
    }
  }
}
